# Task 1 - Number of Word

Create a function that count the number of word in a sentence.
Instruction:
1. Create function called `number_of_word`
2. This function takes 1 input, `sentence`
3. Inside this function, you can utilize `.split()` method to split the sentence into list of word(s) 
4. Also, `len()` function to count the element inside a list
5. Return the number of word from the sentence.

In [15]:
def number_of_word(sentence):
    '''memecah kalimat menjadi beberapa kata,
    lalu menghitung banyaknya kata menggunakan len()'''
    return len(sentence.split())

In [17]:
# contoh penggunaan fungsi number_of_word
number_of_word('Hello World!')
number_of_word('Once Upon a Time in a faraway land')

8

# Task 2 - Find Multiple

Create a function that will get list of number(s) from a certain range that multiples of given number

Instruction:
1. Create function called `find_multiples`
2. This function takes 3 input: `start_range`, `end_range`, and `multiple`
3. From every number within the given range, check if that number is the mutliples of `multiple`
4. Return list of the possible multiple number(s)

In [1]:
# Membuat fungsi find_multiple
def find_multiple(start_range, end_range, multiple):
    '''membuat fungsi dari statement range, dengan start range dikurangi 1 
    agar hasil multiple tidak berakhiran 1, lalu menjadikannya list, setelah itu return
    dengan mengambil dari indeks 1'''
    find = list(range((start_range-1), end_range, multiple))
    return find[1:]

def find_multiple(start_range, end_range, multiple):
    find =list(range(multiple, (end_range+1), multiple))
    return find

In [2]:
# contoh penggunaan fungsi find_multiple
find_multiple(1,20,5)
find_multiple(1,50,10)

[10, 20, 30, 40, 50]

# Task 3 - Grade Converter

Create a function that will convert student’s grade to GPA.
Instruction:
1. Create function called `Grade_Converter`
2. This function takes input: `convert_to` and n-paired of student(s) name with its respective score
3. Input argument for `convert_to` is either `letter_grade` or `gpa` 
4. You can utilize **kwargs input argument to generate n-length paired of student(s) name with its respective score (Dictionary)
5. This function will return dictionary of student’s name along with converted Letter Grade or GPA, depending on user input in `convert_to` parameter

|Score|Letter Grade|GPA 4.0 Scale|
|:-:|:-:|:-:|
|85-100|A|4|
|70-84,99|B|3|
|60-69,99|C|2.5|
|50-59,99|D|2|
|40-49,99|E|1.5|
|0-39,99|F|1|

In [4]:
# Membuat fungsi untuk covert Grade to GPA
def gpaa(score):
    if 85 <= score <= 100:
        return '4'
    elif 70 <= score < 85:
        return '3'
    elif 60 <= score < 70:
        return '2.5'
    elif 50 <= score < 60:
        return '2'
    elif 40 <= score < 50:
        return '1.5'
    elif 0 <= score < 40:
        return '1'

def letter_grade(score):
    if 85 <= score <= 100:
        return 'A'
    elif 70 <= score < 85:
        return 'B'
    elif 60 <= score < 70:
        return 'C'
    elif 50 <= score < 60:
        return 'D'
    elif 40 <= score < 50:
        return 'E'
    elif 0 <= score < 40:
        return 'F'
    
def Grade_Converter(convert_to, **score):
    result={}
    if convert_to == 'gpa':
        for name, score in score.items():
            result[name] = gpaa(score)
    elif convert_to == 'letter_grade':
        for name, score in score.items():
            result[name] = letter_grade(score)
    
    return result

Grade_Converter(convert_to='gpa', Adam=62, Faiz=91)
Grade_Converter(convert_to='letter_grade', Albert=90, Dwi=82, Syahdan=58, Veronica=84)

{'Albert': 'A', 'Dwi': 'B', 'Syahdan': 'D', 'Veronica': 'B'}

# Task 4 - Fibonacci Sequence
create a function that will return the value of n-th fibonacci number.
Instruction:
1. The function will take 1 input parameter, n, represents the asked number from our fibonacci sequence index.
2. The fibonacci sequence will start with the value of 0 and 1.
3. This function will return the n-th value from fibonacci sequence

In [11]:
# Membuat Fungsi Fibonacci
def my_function(n):
    a=0
    b=1
    if n < 0:
        print('Wrong Input')
    elif n == 0:
        return a
    elif n ==1:
        return b
    else:
        for i in range(2, n+1):
            c = a + b
            a = b 
            b = c
        return b


def f(n):
    if n == 0:
        return 0
    else:
        an =[0,1]
        while len(an) < n +1
            ans = an + [an[-1] + an[-2]]

In [12]:
# Testing Fibonacci function
my_function(0)
my_function(4)
my_function(10)

55